API_V1_STR=/api/v1
PROJECT_NAME="Pusat Interkoneksi Data Nasional"
SECRET_KEY=yoursecretkeyhere

# Database - Default SQLite for immediate local demo
DATABASE_URL=sqlite:///./api_portal.db

# Oracle Connection (Alternative for training demo)
# DATABASE_URL=oracle+oracledb://admin:password@localhost:1521/?service_name=xe

ORACLE_USER=admin
ORACLE_PASSWORD=password
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=freepdb1
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]
